.contact {
  background: var(--gray-500);
  font-size: 1.4rem;
  padding: 0 1.6rem;
}

.contact h4 {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 2.2rem;
}

.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  column-gap: 0.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 4rem 0 3.2rem 0;
}

.contact-link-list li:not(:last-child) {
  margin-bottom: 1.4rem;
}

.contact-link-list:nth-child(odd) {
  display: none;
}

.contact-link-list a {
  color: var(--gray-300);
  font-weight: 500;
}

.btn-contact-wrapper {
  grid-column: 1/-1;
  margin-top: 3.2rem;
}

.btn-contact-wrapper button {
  width: 100%;
  display: flex;
  align-items: center;
  height: 4.8rem;
  font-size: 1.4rem;
}

.btn-contact-wrapper button img {
  width: 1.8rem;
}

.btn-contact-wrapper .btn-default {
  gap: 1rem;
}

.btn-contact-wrapper button:first-child {
  margin-bottom: 1.6rem;
}

.btn-contact-wrapper p {
  color: var(--gray-300);
  text-align: center;
  margin-top: 2.4rem;
  font-weight: 500;
}

.btn-contact-wrapper a {
  color: var(--white);
}
