/* VARIAVEIS */
:root {
  --white: #ffffff;
  --light-blue: #e1e7fa;
  --gray-100: #e9e9e9;
  --gray-200: #cfd1d2;
  --gray-300: #9fa3a6;
  --gray-400: #40464d;
  --gray-500: #030303;
  --green-100: #daf4cd;
  --green-200: #53cc71;
  --green-300: #40b25c;
  --green-400: #008f00;
  --green-500: #2d8a44;
  --salmon-100: #ffa688;
  --salmon-200: #ff8861;
  --salmon-300: #e36305;
  --salmon-400: #80351d;
  --red-100: #f6cbcb;
  --red-200: #e63737;
  --yellow-100: #ffffd8;
  --yellow-200: #ffea7d;
}

/* SMOOTH RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--white);
  color: var(--gray-500);
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

/* GERAIS */
.container {
  max-width: 1376px;
  margin: 0 auto;
}

.tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.tag-bold {
  border-radius: 0.4rem;
  background: var(--red-200);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.1rem 0.4rem;
}

.tag-tint {
  border-radius: 0.4rem;
  background: var(--red-100);
  color: var(--red-200);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.1rem 0.4rem;
}

.btn-default {
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  background: var(--green-300);
  border-radius: 0.4rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  transition: all 0.15s;
  border: 1px solid transparent;
}

.btn-default img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(139deg)
    brightness(104%) contrast(101%);
  height: 1.8rem;
}

.btn-default:hover {
  background: var(--green-200);
  border: 1px solid var(--green-500);
}

.btn-highlight {
  background: var(--salmon-300);
}

.btn-highlight:hover {
  background: var(--salmon-200);
  border: 1px solid var(--salmon-400);
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.price-strike {
  font-weight: 500;
  color: var(--gray-300);
  text-decoration: line-through;
}
