.product-slider {
  padding: 2rem;
}

.product-swiper {
  margin-top: 1.6rem;
}

.product-slider .tag-wrapper {
  position: absolute;
  z-index: 1000;
}

.product-slider .swiper-slide {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.product-slider .description {
  margin-bottom: 1.6rem;
}

.product-slider .description h3 {
  font-weight: 400;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.product-slider .price-strike {
  font-size: 1.2rem;
}

.price-wrapper strong {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.25;
}

.swiper-slide button {
  height: 4rem;
  font-size: 1.2rem;
}

.price-wrapper span:last-child {
  color: var(--gray-400);
  font-weight: 500;
}

.product-slider .image-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 0.6rem;
}

.product-slider .image-wrapper img {
  width: 100%;
  object-fit: contain;
}

.product-slider .carousel-controls {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  justify-content: space-between;
  z-index: 1;
}

.product-slider .carousel-control {
  transition: opacity 0.3s;
  width: rem;
}

.product-slider .carousel-control img {
  width: 0.5rem;
  filter: invert(55%) sepia(42%) saturate(612%) hue-rotate(82deg)
    brightness(98%) contrast(92%);
}

@media screen and (min-width: 768px) {
  .swiper.product-swiper {
    padding: 0 1rem;
  }

  .product-slider .carousel-controls {
    display: flex;
  }
}
